<div id="dv">
	<div id="dv1"></div>
	<div id="dv2">
		<h1>Contact Us : </h1><br>
		<pre style="font-size: 25px">Madhya Pradesh Tourism Board,
6th Floor, Lily Trade Wing (above D Mart),
Jehangirabad, Bhopal - 462008
Phone Number - 0755-2550588</pre><br>

<h2>Connect with us :</h2><br>
<a href="https://www.facebook.com/MPTourism"><img src="assets/images/S11.png" height="70px" width="70px"></a>
<a href="https://www.youtube.com/user/mptourism"><img src="assets/images/S12.png" height="70px" width="70px"></a>
<a href="https://twitter.com/MPTourism"><img src="assets/images/S13.png" height="70px" width="70px"></a>
<a href="https://www.instagram.com/mptourism/"><img src="assets/images/S14.jpg" height="70px" width="70px"></a>
	</div>
	<div id="dv3"></div>
</div>
