
<div id="dv">
	<div id="dv1">
		<img src="assets/images/S1.jpg" height="140px" width="180px">
		<span style="background-color: #DCDCDC"><b>BHOPAL</b></span>
		<img src="assets/images/S2.jpg" height="140px" width="180px">
		<span style="background-color: #DCDCDC"><b>GWALIOR</b></span>
	</div>
	<div id="dv2">
		<h2>Madhya Pradesh</h2><br>
		<p>Madhya Pradesh got its name because of its geographical position, being located in the centre of India. However, it's tagline <i>'The Heart of Incredible India'</i> has more to do with the fact that it houses facets of the whole of India into this state. From the historical monuments to modern amenities, culture, food and people- this state gives a taste of entire India packed within its geographical boundaries.</p><br>

<p>Madhya Pradesh is one of the few states that is surrounded by other states on all its sides. It lies in the plain regions of the country and occupies one of the oldest parts of the Indian Subcontinent which was once the land of the Gonds called the Gondwana. Every twelve years the grand fair of Kumbh Mela is organised here. Madhya Pradesh has some spectacular historical places in its region, of which a temple made of glass in Indore is quite famous. Ujjain, a sacred city for the Hindus, is a renowned place in the world as it is one of 12 Jyotirlingas in India. Madhya Pradesh is particularly famous for its Khajuraho temples which exhibit the erotic sculptures depicting the ancient India Kama Sutra text. The great Sanchi Stupa constructed during King Ashoka's reign is situated here in Bhopal. The Bandhavgarh National Park which houses the Barasingha and the Tigers reserve is also located here.</p>

	</div>
	<div id="dv3">
		<img src="assets/images/S3.jpg" height="140px" width="180px">
		<span style="background-color: #DCDCDC"><b>BHEDAGHAT</b></span>
		<img src="assets/images/S4.jpg" height="140px" width="180px">
		<span style="background-color: #DCDCDC"><b>SANCHI</b></span>
	</div>
</div>